<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #messageForm="ngForm">
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <p>You select your topic</p>
            <select [(ngModel)]="messagetoTopic.topic" name="topic">
              <option default value="baeldung">baeldung</option>
              <option value="filtered">filtered</option>
              <option value="javaguides">javaguides</option>
              <option value="longMessage">longMessage</option>
            </select>
          </div>
          <div class="col-md-6">
            <p>Select the order</p>
            <select [(ngModel)]="sorter" name="sorter">
              <option value="asc">Ascendant</option>
              <option value="desc">Descendant</option>
            </select>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
<div class="card my-5" *ngFor="let message of listMessages">
  <h4 class="card-title">Topic : {{ message.topic }}</h4>
  <h5 class="card-title">at {{ message.date }}</h5>
  <div class="card-body"> {{ message.message }} </div>
</div>
